
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


*.dmb
*.rsc
*.int
*.lk
*.zip


/bootstrap/data
/bootstrap/tmp
/classes/
/dist/
/exploded-archives/
/test-build/
/test-output/
/test-report/
/target
/target/*
/.idea

/*/target
/*/target/*
*/*/target/*
target/*
DbMySQLFackeBook.iml




#/src/main/java/META-INF/
#src/main/java/META-INF/
src/main/resources/data/MongoDb/
src/main/resources/data/hsqdb/
*.log
/bin/
/*/bin
/*/bin/*
*/*/bin/*
bin/*